<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterSesion</filter-name>
        <filter-class>Filter.FilterSesion</filter-class>
    </filter>
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>Filter.FilterLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterSesion</filter-name>
        <url-pattern>/Coordinadora.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterSesion</filter-name>
        <url-pattern>/Portero.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Enviarcorreovigilante</servlet-name>
        <servlet-class>Servlet.Enviarcorreovigilante</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Enviarcorreovigilante</servlet-name>
        <url-pattern>/Enviarcorreovigilante</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
